
/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #a4864f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2b48c;
}
